<div class="col-xs-12">
    <div class="background-white border-top-green-1 dashboard-box-shadow border-radius-2 buffer-padding-small container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <div class="dropdown col-xs-1 col-xs-offset-11">
                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3 border-right-gray-1 no-padding">
                <div class="col-xs-3 text-center">
                    <%= icon("credit-card", class: "blue font-size-200 buffer-margin-small") %>
                </div>
                <div class="col-xs-9 no-padding">
                    <p class="blue no-margin">My Wallet</p>
                    <p class="font-size-230 no-margin">$50,000.00</p>
                    <p class="no-margin font-size-60">
                        <%= link_to "Withdraw", "#", class: "green" %>
                        - <%= link_to "Send Money", "#", class: "green" %>
                        - <%= link_to "Request Payment", "#", class: "green" %>
                    </p>
                </div>
            </div>
            <div class="col-md-3 border-right-gray-1 no-padding">
                <div class="col-xs-3 text-center">
                    <%= icon("shopping-cart", class: "blue font-size-200 buffer-margin-small") %>
                </div>
                <div class="col-xs-9 no-padding">
                    <p class="blue no-margin">Gross Sales</p>
                    <p class="font-size-230 no-margin">$500,000.00</p>
                    <p class="no-margin font-size-60">
                        Timeline: 
                        <%= select_tag "timeline", options_for_select([ "One Month", "Three Months", "One Year", "All Time" ]), class: "green no-border" %>
                        <%= submit_tag "Refresh" %>
                    </p>
                </div>
            </div>
            <div class="col-md-3 border-right-gray-1 no-padding">
                <div class="col-xs-3 text-center">
                    <%= icon("folder", class: "blue font-size-200 buffer-margin-small") %>
                </div>
                <div class="col-xs-9 no-padding">
                    <p class="blue no-margin">Total Projects</p>
                    <p class="font-size-230 no-margin">123,000</p>
                    <p class="no-margin font-size-60">
                        <%= link_to "Add New Project", new_project_path, class: "green" %>
                        - <%= link_to "Manage Projects", projects_path, class: "green" %>
                    </p>
                </div>
            </div>
            <div class="col-md-3 no-padding">
                <div class="col-xs-3 text-center">
                    <i class='glyphicon glyphicon-user blue font-size-200 buffer-margin-small'></i>
                </div>
                <div class="col-xs-9 no-padding">
                    <p class="blue no-margin">Active Clients</p>
                    <p class="font-size-230 no-margin">100</p>
                    <p class="no-margin font-size-60">
                        <%= link_to "Add New Client", new_client_path, class: "green" %>
                        - <%= link_to "Manage Clients", clients_path, class: "green" %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="background-white border-top-blue-1 dashboard-box-shadow border-radius-2 buffer-padding-small container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <p class="col-xs-10 blue">
                <%= icon("folder", class: "buffer-margin-extra-small-horizontal no-margin-left") %> Projects
            </p>
            <div class="dropdown col-xs-2">
                <div class="background-green white text-center pull-left buffer-padding-tiny-horizontal"> 8 </div>

                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive scroll-vertically" style="height: 500px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Type</th>
                            <th>Client</th>
                            <th>Last Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% 20.times do %>
                        <tr>
                            <td class="blue">Project name</td>
                            <td>Project type</td>
                            <td class="green">Project client</td>
                            <td>Project updated_at</td>
                            <td><%= link_to raw("<i class='glyphicon glyphicon-pencil blue'></i>"), "#" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="background-white border-top-purple-1 dashboard-box-shadow border-radius-2 buffer-padding-small container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <p class="col-xs-10 blue">
                <%= icon("envelope", class: "buffer-margin-extra-small-horizontal no-margin-left") %> Messages
            </p>
            <div class="dropdown col-xs-2">
                <div class="background-green white text-center pull-left buffer-padding-tiny-horizontal"> 8 </div>

                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled scroll-vertically" style="height: 225px;">
                    <% 20.times do %>
                    <li class="buffer-padding-large">
                        <%= link_to raw("
                            <div class='col-xs-12 no-padding-left'><span class='green'>#{ icon('envelope') }</span> Test Username <small class='pull-right gray'>07/06/16 9:00am</small></div>
                            <div class='col-xs-12 gray'>Blah blah blah blah blah blah blah...</div>
                        "), "#" %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="background-white border-top-red-1 dashboard-box-shadow border-radius-2 buffer-padding-small container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <p class="col-xs-10 blue">
                <%= icon("clock-o", class: "buffer-margin-extra-small-horizontal no-margin-left") %> Recent Activity
            </p>
            <div class="dropdown col-xs-2">
                <div class="background-green white text-center pull-left buffer-padding-tiny-horizontal"> 8 </div>

                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 no-padding-left">
                <ul class="scroll-vertically list-circle-o list-blue" style="height: 210px;">
                    <% 20.times do %>
                    <li class="buffer-margin-small">
                        A payment of <span class="green">$500</span> has been deposited into your wallet
                        <div class="gray">07/15/16, 9:09am</div>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="background-white border-top-red-1 dashboard-box-shadow border-radius-2 buffer-padding-small no-padding-bottom container-fluid buffer-margin-medium no-margin-top">
        <div class="row font-size-120">
            <p class="col-xs-10 blue">
                <%= icon("thumb-tack", class: "buffer-margin-extra-small-horizontal no-margin-left") %> Reminders
            </p>
            <div class="dropdown col-xs-2">
                <div class="background-green white text-center pull-left buffer-padding-tiny-horizontal"> 8 </div>

                <button type="button" class="no-background no-border gray dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= icon("ellipsis-v") %> </button>
                <ul class="dropdown-menu">
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive scroll-vertically buffer-margin-extra-small no-margin-top" style="height: 150px;">
                    <table class="table no-border">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% 20.times do |task| %>
                            <tr>
                                <td><%= check_box_tag(task) %></td>
                                <td>Take cake somewhere to someone</td>
                                <td>Due 03/07/16</td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control no-border no-border-radius background-light-blue" id="reminder" name="reminder" placeholder="+ Add New Reminder">

                <span class="input-group-btn">
                    <label for="due_date" class="btn btn-info no-border-radius">
                        <%= icon("clock-o") %>
                    </label>
                </span>
                <input type="text" class="datepicker form-control no-border no-border-radius background-light-blue" id="due_date" name="due_date" placeholder="Set Due Date">
                <script type="text/javascript">
                    $(document).ready(function(){
                        $('.datepicker').datepicker({
                            startDate: new Date()
                        });
                    });
                </script>

                <span class="input-group-btn">
                    <button class="btn btn-info no-border-radius" type="submit">Add</button>
                </span>
            </div>
            <div class="input-group date col-xs-5">
            </div>
        </div>
    </div>
    <div class="background-blue-green-gardient-right-diagnol buffer-padding-extra-small col-xs-12 white text-center">
        <div class="text-capitalize">
            <h2>Upgrade your potential.</h2>
            <ul class="list-style-dashed list-unstyled">
                <li>No display ads</li>
                <li>More payment options</li>
                <li>White labeling</li>
                <li>Lower transaction fees</li>
                <li>Premium management features</li>
            </ul>
        </div>
        <hr class="buffer-margin-tiny">
        <%= link_to raw("
            <strong>Click here</strong> to learn more about
            <strong>Payfol.io Premium Memberships</strong>
        "), "#" %>
    </div>
</div>

<div class="col-xs-12">
    <button class="btn btn-success no-border-radius col-xs-12 font-size-180 text-uppercase dashboard-box-shadow">
        + Add new project
    </button>
</div>